Screen {
  background: #32302f;
}

Static {
  height: 1fr;
  width: 1fr;
  text-align: center;
}

#alphabet {
  border: double #98971a;
  height: 1fr;
  width: 1fr;
}

#guess-counter {
  border: double #98971a;
  height: 1fr;
  width: 0.5fr;
}

#progress-graphic {
  border: double #98971a;
  height: 1fr;
  width: 1.5fr;
}

#word-progress {
  border: double #98971a;
  height: 1fr;
  width: 1fr;
}

#game-input-box {
  border: double #98971a;
  height: 1fr;
  width: 1fr;
}
