Screen {
  background: #32302f;
}

Static {
  height: 1fr;
  width: 1fr;
  text-align: center;
}

Horizontal {
  height: 1fr;
}

Input {
  border: none;
  background: #32302f;
}

#menu {
  content-align: center top;
}

#input {
  content-align: center top;
  color: #689d6a;
  background: #32302f;
  height: auto;
}
#input-box {
  border: double #98971a;
  height: 1fr;
  width: 1fr;
}

#logo {
	height: 65%;
	
}
#wrapped-text {
  text-wrap: wrap;
  height: auto;
}
