Screen {
  border: double #98971a;
  align: center middle;
  padding: 12 16;
}

#widget_stack {
  border: double #98971a;
}
#first_name{
  align: center middle;
}
#last_name_or_initial {
  align: center middle;
}
#anonymous_checkbox {
  background: #ebdbb2;
  align: center middle;
}
#save_button {
  align: center middle;
}
